[submodule "config/local"]
	path = config/local
	url = https://github.com/fieldsets/fieldsets-local.git
	branch = main
[submodule "config/postgres"]
	path = config/postgres
	url = https://github.com/fieldsets/fieldsets-db-postgres.git
	branch = main
[submodule "config/clickhouse"]
	path = config/clickhouse
	url = https://github.com/fieldsets/fieldsets-store-clickhouse.git
	branch = main
[submodule "config/fluent-bit"]
	path = config/fluent-bit
	url = https://github.com/fieldsets/fieldsets-logger-fluentbit.git
	branch = main
[submodule "lib"]
	path = lib
	url = https://github.com/fieldsets/fieldsets-lib.git
	branch =  main
[submodule "plugins/cache-plugin-redis"]
	path = plugins/cache-plugin-redis
	url = https://github.com/fieldsets/plugins/cache-plugin-redis.git
	branch =  main
