#!/usr/bin/env bash
# Copy this file to .env in this directory. These are all default values (unless specified in an adjacent comment otherwise) and will be set even if not defined in .env

# Fieldsets Version. Version Numbering TBD.
VERSION="latest"
ENVIRONMENT="dev-local"
CONTAINER_REGISTRY="fieldsets" # Can set to DNS of registry host

# This allows you to use multiple compose files found in /config/docker/
# Make sure the top level compose file is first in the list.
# Create a ./docker-compose.override.yml and append it last on the list if you need to make any configuration changes that can't be handled with variables.
COMPOSE_PATH_SEPARATOR=":"
COMPOSE_FILE=./docker-compose.yml:./config/fluent-bit/docker-compose.yml:./config/local/docker-compose.yml:./config/postgres/docker-compose.yml:./config/clickhouse/docker-compose.yml:./config/redis/docker-compose.yml:./config/mail/docker-compose.yml:./docker-compose.override.yml

# Local user ids to manage permissions
# Use `id -u` and `id -g` on a mac

LOCAL_UID=1000
LOCAL_GID=1000

# Set this for certain containers to prevent local container from utilizing all of your local memory (Use 'G' or 'M' to specify size)
SYSTEM_MEMORY=8G

# Valid Time Zone strings found here https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
TIMEZONE="America/New_York"

# Fieldsets Local Network Configuration
FIELDSETS_LOCAL_NETWORK_SUBNET="172.28.0.0/24"

# Debugging and logging. Logging is always done to the pipeline.logs table.
DEBUG_MODE="true"
LOGGING_ENABLED="false"

# If you want the local enviroment to stay open for connecting to with a terminal.
ENABLE_TERMINAL="true"

#===
# Remote Data Sources
#   For Working locally, the below integrations have been setup as postgres foreign data servers
#   This works by setting up tunnels via a fieldsets jump server. As only one jump server is permitted with SSH_HOST, this means you cannot access staging and production servers simultaneously.
#   It is recommended to use a read only user account for the foreign data servers and copy any data you need into your local DB.
#   Your rsa key for trampoline defined below will be mounted into the container as /root/.ssh/id_rsa.
#===
    FIELDSETS_LOCAL_SRC_PATH="./src/"
    FIELDSETS_LOCAL_CONFIG_PATH="./config/local/"
    FIELDSETS_LOCAL_HOST="172.28.0.6"

    # If this host variable is not defined, SSH Tunneling will be disabled. (ie when utilizing this docker image on AWS)
    SSH_HOST=""
    SSH_PORT=22
    SSH_USER=""
    SSH_KEY_PATH="~/.ssh/id_rsa"

    # Events Remote Server
    EVENTS_USER=""
    EVENTS_PASSWORD=""
    EVENTS_HOST="172.28.0.7"
    EVENTS_PORT=5432

    # Only utilized if SSH_HOST is defined.
    EVENTS_TUNNEL_PORT=5436

#===
# Fieldsets Docker Itegrations
#   - The below variables represent variouse docker integrations that have been setup to run with fieldsets local, and can be added as submodules
#==

# https://github.com/fieldsets/docker-postgres
# Postgres Container Vars
    POSTGRES_VERSION=14
    POSTGRES_CONFIG_PATH="./config/postgres/"
    POSTGRES_USER="postgres"
    POSTGRES_PASSWORD="fieldsets"
    POSTGRES_HOST="172.28.0.7"
    POSTGRES_PORT=5432
    POSTGRES_DB="fieldsets"

# https://github.com/fieldsets/docker-clickhouse
# Clickhouse Container Vars
    CLICKHOUSE_ENABLED: "false" # Disabled by default.
    CLICKOUSE_VERSION=22
    CLICKHOUSE_CONFIG_PATH="./config/clickhouse/"
    CLICKHOUSE_USER="default"
    CLICKHOUSE_PASSWORD="fieldsets"
    CLICKHOUSE_HOST="172.28.0.5"
    CLICKHOUSE_PORT=8123
    CLICKHOUSE_DB="fieldsets"
