#!/usr/bin/env bash
# Copy this file to .env in this directory. These are all default values (unless specified in an adjacent comment otherwise) and will be set even if not defined in .env

# Fieldsets Version. Version Numbering TBD.
VERSION="latest"
ENVIRONMENT="dev-local"
CONTAINER_REGISTRY="fieldsets" # Can set to DNS of registry host

# This allows you to use multiple compose files found in /config/docker/
# Make sure the top level compose file is first in the list.
# Create a ./docker-compose.override.yml and append it last on the list if you need to make any configuration changes that can't be handled with variables.
COMPOSE_PATH_SEPARATOR=":"
COMPOSE_FILE=./docker-compose.yml:./docker-compose.volumes.yml:./docker-compose.envvars.yml:./docker-compose.networks.yml

# Local user ids to manage permissions
# Use `id -u` and `id -g` on a mac

LOCAL_UID=1000
LOCAL_GID=1000

# Set this for certain containers to prevent local container from utilizing all of your local memory (Use 'G' or 'M' to specify size)
SYSTEM_MEMORY=8G

# Valid Time Zone strings found here https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
TIMEZONE="America/New_York"

# Fieldsets Local Network Configuration
FIELDSETS_NETWORK_SUBNET="172.28.0.0/24"
DOCKER_NETWORK_TYPE="bridge"

# Environment Variable that can be used to allow a single code base to configure a variety of machines.
# node, server, workstation, custom
FIELDSETS_INFRASTRUCTURE_ROLE="node"
FIELDSETS_DB="postgres"
FIELDSETS_STORE="clickhouse"

# Default session is hosted on fieldsets-local.
# All init, config, import & run phase code will be executed within this session on this machine. This will give you access to hooks that will not exist outside of this session.
# If you want to use an external host you can speccify that host address here.
FIELDSETS_SESSION_HOST=
FIELDSETS_SESSION_KEY="fieldsets_rsa"

# Debugging and logging. Logging is always done to the pipeline.logs table.
ENABLE_DEBUG_MODE="true"
ENABLE_LOGGING="false"

# Use external data store instead of db for semi-structured & unstructured data.
ENABLE_STORE="true"

# If you want the local enviroment to stay open for connecting to with a terminal.
ENABLE_TERMINAL="true"

# PATH Variables
FIELDSETS_SRC_PATH="./src/"
FIELDSETS_LIB_PATH="./lib/"
FIELDSETS_PLUGINS_PATH="./plugins/"
FIELDSETS_DATA_PATH="./data/"
FIELDSETS_CONFIG_PATH="./config/"

#===
# Remote Data Sources
#   For Working locally, the below integrations have been setup as postgres foreign data servers
#===
    FIELDSETS_LOCAL_HOST="172.28.0.6"

    # This variable is set to allow you to utilize your local keys within a container.
    SSH_KEY_PATH="~/.ssh/"
    SSH_PORT=2022

#===
# Fieldsets Docker Itegrations
#   - The below variables represent variouse docker integrations that have been setup to as core components of the framework and can be added as submodules
#==

# DB
# https://github.com/fieldsets/fieldsets-db-postgres
# Postgres Container Vars
    POSTGRES_VERSION=15
    POSTGRES_USER="postgres"
    POSTGRES_PASSWORD="fieldsets"
    POSTGRES_HOST="172.28.0.7"
    POSTGRES_PORT=5432
    POSTGRES_DB="fieldsets"

# Store
# https://github.com/fieldsets/fieldsets-store-clickhouse
# Clickhouse Container Vars
    CLICKhOUSE_VERSION=24
    CLICKHOUSE_USER="default"
    CLICKHOUSE_PASSWORD="fieldsets"
    CLICKHOUSE_HOST="172.28.0.5"
    CLICKHOUSE_PORT=8123
    CLICKHOUSE_DB="fieldsets"

# Logger
# https://github.com/fieldsets/fieldsets-logger-fluentbit
# Logger container vars
    LOGGER_HOST="172.28.0.2"
    LOGGER_PORT="24224"
